<mat-card>
  <div class="filter-container">
    <div class="filter-row">
      <button mat-raised-button color="primary" (click)="openNewFlightDialog()">New Flight</button>
    </div>
    <div class="filter-row">

      <mat-form-field class="filter-field">
        <mat-label>Flight Number</mat-label>
        <input matInput type="text" [(ngModel)]="filter.FlightNumber" placeholder="Filter by Flight Number">
      </mat-form-field>
      <mat-form-field class="filter-field">
        <mat-label>Takeoff Airport</mat-label>
        <input matInput type="text" [(ngModel)]="filter.TakeoffAirport" placeholder="Filter by Takeoff Airport">
      </mat-form-field>
      <mat-form-field class="filter-field">
        <mat-label>Landing Airport</mat-label>
        <input matInput type="text" [(ngModel)]="filter.LandingAirport" placeholder="Filter by Landing Airport">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="applyFilter()">Search</button>
    </div>
  </div>
  <table mat-table [dataSource]="flights" class="mat-elevation-z8">

    <!-- Flight Number Column -->
    <ng-container matColumnDef="flightNumber">
      <th mat-header-cell *matHeaderCellDef> Flight Number </th>
      <td mat-cell *matCellDef="let flight"> {{flight.flightNumber}} </td>
    </ng-container>

    <!-- Takeoff Airport Column -->
    <ng-container matColumnDef="takeoffAirport">
      <th mat-header-cell *matHeaderCellDef> Takeoff Airport </th>
      <td mat-cell *matCellDef="let flight"> {{flight.takeoffAirport}} </td>
    </ng-container>

    <!-- Landing Airport Column -->
    <ng-container matColumnDef="landingAirport">
      <th mat-header-cell *matHeaderCellDef> Landing Airport </th>
      <td mat-cell *matCellDef="let flight"> {{flight.landingAirport}} </td>
    </ng-container>

    <!-- Delay Time Column -->
    <ng-container matColumnDef="DelayTime">
      <th mat-header-cell *matHeaderCellDef> Delay Time </th>
      <td mat-cell *matCellDef="let flight"> {{flight.delayMinutes}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let flight"> {{flight.status}} </td>
    </ng-container>

    <!-- Takeoff Time Column -->
    <ng-container matColumnDef="takeoffTime">
      <th mat-header-cell *matHeaderCellDef> Takeoff Time </th>
      <td mat-cell *matCellDef="let flight"> {{flight.takeoffTime | date:'short'}} </td>
    </ng-container>

    <!-- Landing Time Column -->
    <ng-container matColumnDef="landingTime">
      <th mat-header-cell *matHeaderCellDef> Landing Time </th>
      <td mat-cell *matCellDef="let flight"> {{flight.landingTime | date:'short'}} </td>
    </ng-container>

     <!-- Edit Button Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let flight">
        <button mat-button (click)="editFlight(flight)">Edit</button>
      </td>
    </ng-container>

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'malfunction': row.status === 'malfunction'}"></tr>
  </table>
</mat-card>
